@import "src/theme/variables";

.button {
  border-radius: 50px;
  background: $primary;
  padding: 12px 28px;
  border: none;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    $bg-color: gray;
    background: $bg-color;
    cursor: not-allowed;
    &:hover {
      background: $bg-color;
    }
  }

  &:hover {
    background: darken($primary, 10%);
  }
}
