@import "src/theme/variables";

.nav-menu-view-desktop {
  display: block;

  &__list {
    display: flex;
    align-items: center;
    color: $white;
    gap: 24px;
  }
}

.nav-menu-view__list-item {
  font-size: 16px;
  font-weight: 500;
  a {
    height: 100%;
    color: $white;
    text-decoration: none;
  }
}
