@import "src/theme/variables";
@import "src/containers/Layout/Header/style.module.scss";

.nav-menu-view-mobile__icon {
  cursor: pointer;
}

.nav-menu-view-mobile__menu {
  position: fixed;
  top: $header_height;
  bottom: 0;
  right: 0;
  width: 100%;
  background: $black;
  padding: 24px 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  &_open {
    transform: translateX(0);
  }
}

.nav-menu-view__list-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 24px 40px;

  &:hover {
    background: lighten($black, 8%);
  }
  height: 100%;
  width: 100%;
  color: $white;
  text-decoration: none;
}
