@import "src/theme/variables";

$header-height: 56px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $black;
  height: $header-height;
  padding: 0 20px;
}
