@import "src/theme/variables";

.servers {
  width: 60%;
  padding: 56px 0;

  &-table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 95%;
  }
}

.servers-loading {
  background: $white;
  padding: 65px;
  border-radius: 10px;
}

.sort-icon {
  cursor: pointer;
  &_asc {
    path:last-child {
      display: none;
    }
    transform: translateY(-3px);
  }
  &_desc {
    path:first-child {
      display: none;
    }
    transform: translateY(7px);
  }
}
