@import "variables";
@import "reset-css/sass/reset";
@import "@fontsource/roboto";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  background: $black;
}

.Toastify__toast-container {
  font-size: 14px;
}
