// ------------------- Colors -------------------

$primary: #6e29f5;
$text-color-gray-dark: #8a8c91;
$border-color-gray-light: #d0d1d3;
$table-bg-color-hover: #e8e8e9;
$black: #000000;
$white: #ffffff;

// ------------------- Break point -------------------
$mobile-breakpoint: 768px;
