@import "src/theme/variables";

.text-input-wrapper {
  label {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: $text-color-gray-dark;
    margin-bottom: 8px;
  }

  .text-input {
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 13px 16px;
    border: 1px solid $border-color-gray-light;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid $primary;
    }
  }
}
