@import "src/theme/variables";

@keyframes rotateAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  &__spinner {
    width: 80px;
    height: 40px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 5px solid $primary;
    border-bottom: 0;
    margin-bottom: 60px;
    animation: rotateAnimation 1s linear infinite;
    transform-origin: bottom;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    span {
      color: $primary;
      font-weight: bold;
    }
  }
}
