@import "src/theme/variables";

.table {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: $white;
  overflow: hidden;
  font-weight: 500;

  thead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: $primary;
    color: $white;
    height: 60px;
    tr {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    th {
      text-align: center;
      width: 100% !important;
    }
  }
  tbody {
    tr {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 12px 0;
      &:hover {
        background: $table-bg-color-hover;
      }
      td {
        text-align: center;
        width: 100% !important;
      }
    }
  }
}
