@import "src/theme/variables";
@import "./Header/style.module.scss";

.layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/images/background-nasa-unsplash.jpg") no-repeat
    center center fixed;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
  /* avoid scroll and start background after header */
  min-height: calc(100vh - #{$header-height});
}
