@import "src/theme/variables";

.login {
  height: 300px;
  width: 570px;
  padding: 32px;
  background: $white;
  border-radius: 10px;
  text-align: center;

  &-form {
    display: block;
    &__input {
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}
